/* ---------------------------- */
/* Sass modules */

@use "./index";
@use "./header";

/* ---------------------------- */
/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

/* ---------------------------- */
/* Бусад css rules */
* {
  font-family: "Geologica", sans-serif;
  margin: 0;
}
