/* ---------------------------- */
/* Sass modules */

@use "./index";
@use "./header";
@use "./fonts.scss"; /* ---------------------------- */ /* Google Fonts import */

// @import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

/* ---------------------------- */
/* Бусад css rules */
* {
  font-family: "GeologicaLight";
  margin: 0;
}

body {
  overflow-x: hidden;
}
