@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./utils.scss";
@import "./index.scss";

body {
  font-family: "Montserrat", sans-serif;
}
