// 6D5D9C
$color-brand: #6d5d9c;
$color-brand-blurred: #6d5d9c40;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #3f444d;
$color-gray-100: #f8f9fc;
$color-gray-200: #f1f3f9;
$color-gray-300: #e1e6ef;
$color-gray-400: #cbd5e1;
$color-gray-700: #3f444d;
$color-gray-cool: #9ca3b0;
$color-blue: #5095d7;
