@font-face {
  font-family: "GeologicaLight";
  src: url("/src/assets/fonts/Geologica_Cursive-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaThin";
  src: url("/src/assets/fonts/Geologica_Cursive-Thin.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaMedium";
  src: url("/src/assets/fonts/Geologica_Cursive-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaRegular";
  src: url("/src/assets/fonts/Geologica_Cursive-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaSemibold";
  src: url("/src/assets/fonts/Geologica_Cursive-SemiBold.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaBold";
  src: url("/src/assets/fonts/Geologica_Cursive-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaExtraBold";
  src: url("/src/assets/fonts/Geologica_Cursive-ExtraBold.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GeologicaBlack";
  src: url("/src/assets/fonts/Geologica_Cursive-Black.ttf") format("truetype");
  font-style: normal;
}
