@use "./utils";
@use "./colors";

.header {
  @include utils.vw-convert-desktop(height, 130px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include utils.mobile {
    @include utils.vw-convert-mobile(height, 130px);
    // @include utils.vw-convert-mobile(padding, 0 50px);
  }

  .logo {
    height: 35%;
    width: auto;
  }

  .groupBtn {
    display: flex;
    @include utils.vw-convert-desktop(gap, 30px);
    align-items: center;

    @include utils.mobile {
      @include utils.vw-convert-mobile(gap, 30px);
    }

    a {
      text-decoration: none;
      color: colors.$color-white;
      font-weight: 600;
      background-color: colors.$color-blue;
      @include utils.vw-convert-desktop(font-size, 15px);
      @include utils.vw-convert-desktop(padding, 10px 30px);
      @include utils.vw-convert-desktop(border-radius, 15px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 15px);
        @include utils.vw-convert-mobile(padding, 10px 30px);
        @include utils.vw-convert-mobile(border-radius, 15px);
      }
    }
  }

  .menuList {
    flex-grow: 1;
    height: 100%;

    ul {
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: colors.$color-gray-cool;
      @include utils.vw-convert-desktop(gap, 50px);
      @include utils.vw-convert-desktop(font-size, 16px);
      font-family: "GeologicaLight";

      @include utils.mobile {
        display: none;
      }
    }
  }
}

.footer {
  background-color: colors.$color-blue;
  @include utils.vw-convert-desktop(padding, 30px 0);
  @include utils.vw-convert-desktop(border-top-left-radius, 50px);
  @include utils.vw-convert-desktop(border-top-right-radius, 50px);

  @include utils.mobile {
    @include utils.vw-convert-mobile(padding, 30px 0);
    @include utils.vw-convert-mobile(border-top-left-radius, 50px);
    @include utils.vw-convert-mobile(border-top-right-radius, 50px);
  }

  &-container {
    display: flex;
    justify-content: space-between;

    @include utils.mobile {
      flex-direction: column;
    }

    &:nth-child(2) {
      @include utils.vw-convert-desktop(margin-top, 40px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(margin-top, 40px);
      }
    }

    .store-container {
      @include utils.vw-convert-desktop(gap, 40px);
      display: flex;

      @include utils.mobile {
        @include utils.vw-convert-mobile(gap, 40px);
      }

      .logo {
        display: flex;
        flex-direction: column;
        @include utils.vw-convert-desktop(gap, 15px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(gap, 15px);
        }

        &-title {
          color: colors.$color-white;
          font-family: "GeologicaBold";
          @include utils.vw-convert-desktop(font-size, 18px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(font-size, 18px);
          }
        }

        &-container {
          @include utils.vw-convert-desktop(width, 70px);
          @include utils.vw-convert-desktop(height, 70px);
          @include utils.vw-convert-desktop(padding, 10px);
          @include utils.vw-convert-desktop(border-radius, 20px);
          background-color: colors.$color-white;

          @include utils.mobile {
            @include utils.vw-convert-mobile(width, 70px);
            @include utils.vw-convert-mobile(height, 70px);
            @include utils.vw-convert-mobile(padding, 10px);
            @include utils.vw-convert-mobile(border-radius, 20px);
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .app-container {
          display: flex;
          @include utils.vw-convert-desktop(gap, 20px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(gap, 20px);
          }

          .app-link {
            display: flex;
            @include utils.vw-convert-desktop(height, 70px);
            @include utils.vw-convert-desktop(gap, 5px);
            @include utils.vw-convert-desktop(width, 200px);
            @include utils.vw-convert-desktop(border-radius, 20px);
            @include utils.vw-convert-desktop(padding, 15px);
            background-color: #ffffff20;
            flex-direction: row;
            align-items: center;

            @include utils.mobile {
              @include utils.vw-convert-mobile(height, 70px);
              @include utils.vw-convert-mobile(gap, 5px);
              @include utils.vw-convert-mobile(width, 200px);
              @include utils.vw-convert-mobile(border-radius, 20px);
              @include utils.vw-convert-mobile(padding, 15px);
            }

            .app-icon-container {
              height: 100%;
              aspect-ratio: 1;
              svg {
                width: 100%;
                height: 100%;
                color: colors.$color-white;
              }
            }

            .app-text-container {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: colors.$color-white;
              @include utils.vw-convert-desktop(line-height, 16px);

              @include utils.mobile {
                @include utils.vw-convert-mobile(line-height, 15px);
              }

              &-title {
                @include utils.vw-convert-desktop(font-size, 12px);
                @include utils.mobile {
                  @include utils.vw-convert-mobile(font-size, 12px);
                }
              }
              &-store {
                @include utils.vw-convert-desktop(font-size, 21px);
                @include utils.mobile {
                  @include utils.vw-convert-mobile(font-size, 21px);
                }
              }
            }
          }
        }
      }
    }

    .footer-contact {
      @include utils.mobile {
        @include utils.vw-convert-mobile(margin-top, 30px);
      }
      table {
        color: colors.$color-white;
        tr {
          &:nth-child(1) {
            td {
              @include utils.vw-convert-desktop(font-size, 18px);
              font-family: "GeologicaSemibold";

              @include utils.mobile {
                @include utils.vw-convert-mobile(font-size, 18px);
              }

              &:nth-child(2) {
                @include utils.mobile {
                  @include utils.vw-convert-mobile(padding-left, 30px);
                }
              }
            }
          }

          td {
            text-align: right;
            @include utils.vw-convert-desktop(padding, 2px 10px);
            @include utils.vw-convert-desktop(font-size, 16px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(padding, 2px 0px);
              @include utils.vw-convert-mobile(font-size, 16px);
              text-align: left;
            }

            &:nth-child(3) {
              @include utils.vw-convert-desktop(padding-left, 30px);
              @include utils.mobile {
                @include utils.vw-convert-mobile(padding-left, 30px);
              }
            }
          }
        }
      }
    }

    .intellectual {
      color: colors.$color-white;
      @include utils.vw-convert-desktop(font-size, 16px);
      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 20px);
      }
    }

    .links {
      display: flex;
      @include utils.vw-convert-desktop(gap, 20px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(gap, 10px);
      }

      a {
        color: colors.$color-white;
        text-decoration: none;
        @include utils.vw-convert-desktop(font-size, 14px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 18px);
        }
      }
    }
  }
}
