@use "./utils";
@use "./colors";

.container {
  width: 70%;
  margin: auto;
}

.home {
  .background {
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    @include utils.vw-convert-desktop(font-size, 25px);
    @include utils.vw-convert-desktop(margin, 30px 0);
    font-weight: 600;
    color: colors.$color-brand;

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 25px);
      @include utils.vw-convert-mobile(margin, 30px 0);
    }
  }

  .chances {
    display: grid;
    @include utils.vw-convert-desktop(gap, 15px);
    @include utils.vw-convert-desktop(margin-bottom, 100px);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include utils.mobile {
      @include utils.vw-convert-mobile(gap, 15px);
      @include utils.vw-convert-mobile(margin-bottom, 100px);
    }

    .card {
      background-color: colors.$color-brand-blurred;
      display: flex;
      flex-direction: column;
      @include utils.vw-convert-desktop(padding, 25px);
      @include utils.vw-convert-desktop(gap, 5px);
      @include utils.vw-convert-desktop(border-radius, 20px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 25px);
        @include utils.vw-convert-mobile(gap, 5px);
        @include utils.vw-convert-mobile(border-radius, 20px);
      }

      .icon {
        color: colors.$color-brand;
        @include utils.vw-convert-desktop(width, 30px);
        @include utils.vw-convert-desktop(height, 30px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(width, 30px);
          @include utils.vw-convert-mobile(height, 30px);
        }
      }

      .card-title {
        font-weight: 600;
        color: colors.$color-gray;
        @include utils.vw-convert-desktop(font-size, 18px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 18px);
        }
      }

      span {
        font-weight: 400;
        color: colors.$color-gray;
        line-height: 100%;
      }
    }
  }
}

.payment {
  background-color: colors.$color-gray-200;
  min-height: 100vh;
  @include utils.vw-convert-desktop(padding-top, 50px);
  @include utils.vw-convert-desktop(padding-bottom, 50px);

  @include utils.mobile {
    @include utils.vw-convert-mobile(padding-top, 50px);
    @include utils.vw-convert-mobile(padding-bottom, 50px);
  }

  &-container {
    width: 40%;
    margin: auto;

    @include utils.mobile {
      width: 90%;
    }
  }

  .price-container {
    background-color: colors.$color-blue;
    @include utils.vw-convert-desktop(border-radius, 20px);
    @include utils.vw-convert-desktop(padding, 20px);
    color: colors.$color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @include utils.mobile {
      @include utils.vw-convert-mobile(border-radius, 20px);
      @include utils.vw-convert-mobile(padding, 20px);
    }
  }

  .succeedContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include utils.vw-convert-desktop(padding, 50px 0px);
    @include utils.vw-convert-desktop(gap, 6px);
    justify-content: center;
    align-items: center;

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 50px 0px);
      @include utils.vw-convert-mobile(gap, 6px);
    }

    .icon-container {
      background-color: rgba($color: #5095d7, $alpha: 0.1);
      border-radius: 50%;
      @include utils.vw-convert-desktop(width, 100px);
      @include utils.vw-convert-desktop(margin-bottom, 40px);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      @include utils.mobile {
        @include utils.vw-convert-mobile(width, 100px);
        @include utils.vw-convert-mobile(margin-bottom, 40px);
      }

      svg {
        width: 40%;
        height: 40%;
      }
    }

    p {
      text-align: center;
      color: colors.$color-blue;
    }

    .succeedTitle {
      @include utils.vw-convert-desktop(font-size, 18px);
      font-weight: 500;

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 18px);
      }
    }
    .succeedSubTitle {
      @include utils.vw-convert-desktop(font-size, 15px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 15px);
      }
    }
  }

  .selector {
    display: flex;
    @include utils.vw-convert-desktop(margin-top, 50px);
    @include utils.vw-convert-desktop(margin-bottom, 50px);

    @include utils.mobile {
      flex-direction: column;
      @include utils.vw-convert-mobile(margin-top, 50px);
      @include utils.vw-convert-mobile(margin-bottom, 50px);
    }

    .name {
      color: colors.$color-gray;
      width: 35%;

      @include utils.mobile {
        @include utils.vw-convert-mobile(margin-bottom, 20px);
      }

      p {
        @include utils.vw-convert-desktop(font-size, 13px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 18px);
        }
      }
    }

    .option.grid {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .option {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      @include utils.vw-convert-desktop(gap, 10px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(gap, 10px);
      }

      button,
      .mantine-RadioCard-card {
        @include utils.vw-convert-desktop(padding, 15px);
        @include utils.vw-convert-desktop(border-radius, 15px);
        background-color: colors.$color-gray-100;

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 15px);
          @include utils.vw-convert-mobile(border-radius, 15px);
        }

        p {
          @include utils.vw-convert-desktop(font-size, 14px);
          font-weight: 400;

          @include utils.mobile {
            @include utils.vw-convert-mobile(font-size, 14px);
          }
        }
      }

      button > div,
      .mantine-RadioCard-card > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-container {
        background-color: colors.$color-gray-200;
        @include utils.vw-convert-desktop(padding, 20px 30px);
        @include utils.vw-convert-desktop(border-radius, 20px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 20px 30px);
          @include utils.vw-convert-mobile(border-radius, 20px);
        }

        table {
          border-collapse: collapse;
          width: 100%;

          td {
            border-bottom: 1px solid colors.$color-gray-400;
            @include utils.vw-convert-desktop(padding, 10px 5px);
            @include utils.vw-convert-desktop(font-size, 12px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(padding, 10px 5px);
              @include utils.vw-convert-mobile(font-size, 18px);
            }

            &:nth-child(1) {
              width: 30%;
              color: colors.$color-gray-cool;
              font-weight: 300;
            }

            &:nth-child(2) {
              color: colors.$color-black;
              font-weight: 300;
              text-align: left;
            }
          }

          tr:last-child td {
            border: none !important;
          }
        }
        table.payment-info-table {
          td {
            &:nth-child(1) {
              width: 50%;
            }

            &:nth-child(2) {
              color: colors.$color-black;
              text-align: right;
            }
          }
        }
      }

      .mantine-TextInput-input {
        @include utils.vw-convert-desktop(border-radius, 18px);
        @include utils.vw-convert-desktop(padding, 25px 20px);
        @include utils.vw-convert-desktop(font-size, 12px);
        font-family: "Geologica", sans-serif;
        background-color: colors.$color-gray-100;

        @include utils.mobile {
          @include utils.vw-convert-mobile(border-radius, 18px);
          @include utils.vw-convert-mobile(padding, 25px 20px);
          @include utils.vw-convert-mobile(font-size, 18px);
        }
      }

      .qr-display {
        @include utils.vw-convert-desktop(padding, 50px);
        display: flex;
        justify-content: center !important;
        align-items: center;

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 50px);
        }
      }
    }
  }
}

.payment-card {
  background-color: colors.$color-white;
  @include utils.vw-convert-desktop(padding, 30px);
  @include utils.vw-convert-desktop(border-radius, 50px);

  @include utils.mobile {
    background-color: colors.$color-white;
    @include utils.vw-convert-mobile(padding, 30px);
    @include utils.vw-convert-mobile(border-radius, 50px);
  }

  &-header {
    @include utils.vw-convert-desktop(padding-bottom, 20px);
    border-bottom: 1px solid colors.$color-gray-300;
    &-logo {
      width: 20%;
      height: auto;
    }

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding-bottom, 20px);
    }
  }

  .payment-body {
    @include utils.vw-convert-desktop(padding-top, 20px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding-top, 20px);
      line-height: normal;
    }

    .title {
      @include utils.vw-convert-desktop(font-size, 15px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 20px);
      }
    }

    .description {
      @include utils.vw-convert-desktop(font-size, 12px);
      color: colors.$color-gray;

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 18px);
      }
    }
  }

  .payment-footer {
    display: flex;
    @include utils.vw-convert-desktop(padding, 30px);
    @include utils.vw-convert-desktop(gap, 10px);
    justify-content: flex-end;

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 30px);
      @include utils.vw-convert-mobile(gap, 10px);
    }

    button.continue {
      background-color: colors.$color-blue;
      @include utils.vw-convert-desktop(padding, 15px 50px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-white;
      cursor: pointer;

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 15px 50px);
        @include utils.vw-convert-mobile(border-radius, 15px);
      }
    }

    button.back {
      background-color: colors.$color-gray-cool;
      @include utils.vw-convert-desktop(padding, 15px 50px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-white;
      display: flex;
      cursor: pointer;

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 15px 50px);
        @include utils.vw-convert-mobile(border-radius, 15px);
      }
    }
  }
}

.divider {
  background-color: colors.$color-gray-200;
  width: 100%;
  height: 1px;
}

.mantine-Stepper-steps {
  align-items: flex-start !important;

  button.mantine-Stepper-step {
    @include utils.mobile {
      display: flex;
      flex-direction: column !important;
      width: 20% !important;
    }

    .mantine-Stepper-stepBody {
      @include utils.mobile {
        margin: 0;
      }
    }
  }
  .mantine-Stepper-stepIcon {
    @include utils.vw-convert-desktop(width, 50px);
    @include utils.vw-convert-desktop(height, 50px);
    @include utils.vw-convert-desktop(font-size, 12px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(width, 50px);
      @include utils.vw-convert-mobile(height, 50px);
      @include utils.vw-convert-mobile(font-size, 20px);
    }
  }

  .mantine-Stepper-stepDescription {
    @include utils.vw-convert-desktop(font-size, 15px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 20px);
      text-align: center;
    }
  }

  .mantine-Stepper-separator {
    @include utils.vw-convert-desktop(height, 2px);
    @include utils.vw-convert-desktop(margin-top, 25px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(height, 3px);
      @include utils.vw-convert-mobile(margin-top, 35px);
    }
  }
}
