@use "./utils";
@use "./colors";

.container {
  width: 80%;
  margin: auto;
  @include utils.mobile {
    width: 90%;
  }
}

.home {
  .background {
    width: 100%;
    height: auto;
  }

  .banner {
    width: 100%;
    aspect-ratio: 1440/500;
    overflow: hidden;
    position: relative;

    @include utils.mobile {
      aspect-ratio: 1440/700;
    }

    img.banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    .content {
      width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include utils.mobile {
        width: 90%;
      }

      &-title {
        @include utils.vw-convert-desktop(font-size, 22px);
        line-height: normal;
        color: colors.$color-white;

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 22px);
        }
      }
      &-sub-title {
        color: colors.$color-white;
        @include utils.vw-convert-desktop(font-size, 18px);
        @include utils.vw-convert-desktop(margin-top, 40px);
        line-height: normal;
        font-family: "GeologicaThin";

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 18px);
          @include utils.vw-convert-mobile(margin-top, 20px);
        }
      }

      .store-container {
        @include utils.vw-convert-desktop(margin-top, 80px);
        @include utils.vw-convert-desktop(gap, 40px);
        display: flex;

        @include utils.mobile {
          @include utils.vw-convert-mobile(margin-top, 20px);
          @include utils.vw-convert-mobile(gap, 40px);
        }

        .logo {
          display: flex;
          flex-direction: column;
          @include utils.vw-convert-desktop(gap, 15px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(gap, 15px);
          }

          &-title {
            color: colors.$color-white;
            font-family: "GeologicaBold";
            @include utils.vw-convert-desktop(font-size, 18px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 18px);
            }
          }

          &-container {
            @include utils.vw-convert-desktop(width, 70px);
            @include utils.vw-convert-desktop(height, 70px);
            @include utils.vw-convert-desktop(padding, 10px);
            @include utils.vw-convert-desktop(border-radius, 20px);
            background-color: colors.$color-white;

            @include utils.mobile {
              @include utils.vw-convert-mobile(width, 70px);
              @include utils.vw-convert-mobile(height, 70px);
              @include utils.vw-convert-mobile(padding, 10px);
              @include utils.vw-convert-mobile(border-radius, 20px);
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .app-container {
            display: flex;
            @include utils.vw-convert-desktop(gap, 20px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(gap, 20px);
            }

            .app-link {
              display: flex;
              @include utils.vw-convert-desktop(height, 70px);
              @include utils.vw-convert-desktop(gap, 5px);
              @include utils.vw-convert-desktop(width, 200px);
              @include utils.vw-convert-desktop(border-radius, 20px);
              @include utils.vw-convert-desktop(padding, 15px);
              background-color: #ffffff20;
              flex-direction: row;
              align-items: center;

              @include utils.mobile {
                @include utils.vw-convert-mobile(height, 70px);
                @include utils.vw-convert-mobile(gap, 5px);
                @include utils.vw-convert-mobile(width, 200px);
                @include utils.vw-convert-mobile(border-radius, 20px);
                @include utils.vw-convert-mobile(padding, 15px);
              }

              .app-icon-container {
                height: 100%;
                aspect-ratio: 1;
                svg {
                  width: 100%;
                  height: 100%;
                  color: colors.$color-white;
                }
              }

              .app-text-container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: colors.$color-white;

                @include utils.vw-convert-desktop(line-height, 16px);

                @include utils.mobile {
                  @include utils.vw-convert-mobile(line-height, 15px);
                }

                &-title {
                  @include utils.vw-convert-desktop(font-size, 12px);
                  @include utils.mobile {
                    @include utils.vw-convert-mobile(font-size, 12px);
                  }
                }
                &-store {
                  @include utils.vw-convert-desktop(font-size, 21px);
                  @include utils.mobile {
                    @include utils.vw-convert-mobile(font-size, 21px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .swiper-text {
    display: flex;
    justify-content: space-between;
    @include utils.vw-convert-desktop(padding, 20px 0px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 20px 0px);
      display: none;
    }

    p {
      line-height: normal;

      &:nth-child(1) {
        @include utils.vw-convert-desktop(font-size, 22px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 22px);
        }
      }
      &:nth-child(2) {
        @include utils.vw-convert-desktop(font-size, 18px);
        text-align: right;

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 18px);
        }
      }
    }
  }
  .swiper-container {
    position: relative;

    .swiper {
      .swiper-slide {
        aspect-ratio: 1160/480;
        @include utils.mobile {
          aspect-ratio: 1160/600;
        }

        .img-container {
          width: 100%;
          height: 100%;
          overflow: hidden;
          @include utils.vw-convert-desktop(border-radius, 40px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(border-radius, 40px);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .navigator {
      position: absolute;
      @include utils.vw-convert-desktop(bottom, 30px);
      left: 50%;
      z-index: 2;
      display: flex;
      transform: translateX(-50%);
      @include utils.vw-convert-desktop(gap, 10px);

      @include utils.mobile {
        display: none;
      }

      button {
        @include utils.vw-convert-desktop(border-radius, 18px);
        @include utils.vw-convert-desktop(width, 50px);
        border: none;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .title {
    text-align: left;
    @include utils.vw-convert-desktop(font-size, 25px);
    @include utils.vw-convert-desktop(margin-top, 60px);
    @include utils.vw-convert-desktop(margin-bottom, 30px);
    font-weight: 600;
    color: colors.$color-black;
    font-family: "GeologicaThin";

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 25px);
      @include utils.vw-convert-mobile(margin, 30px 0);
    }
  }

  .chances {
    display: grid;
    @include utils.vw-convert-desktop(gap, 15px);
    @include utils.vw-convert-desktop(margin-bottom, 100px);
    grid-template-columns: 1fr 1fr 1fr;

    @include utils.mobile {
      @include utils.vw-convert-mobile(gap, 15px);
      @include utils.vw-convert-mobile(margin-bottom, 100px);
      grid-template-columns: 1fr;
    }

    .card {
      background-color: colors.$color-gray-100;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      @include utils.vw-convert-desktop(padding, 25px);
      @include utils.vw-convert-desktop(gap, 20px);
      @include utils.vw-convert-desktop(border-radius, 50px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 50px);
        @include utils.vw-convert-mobile(gap, 20px);
        @include utils.vw-convert-mobile(border-radius, 50px);
      }

      &.active {
        background-color: colors.$color-blue;

        .icon-shadow {
          background-color: #ffffff20;

          .icon-container {
            background-color: #ffffff;

            svg {
              color: colors.$color-blue;
            }
          }
        }

        .card-title,
        span {
          color: #ffffff;
        }
      }

      .icon-shadow {
        background-color: #5095d710;
        width: 14%;
        aspect-ratio: 1;
        border-radius: 50%;
        @include utils.vw-convert-desktop(padding, 15px);
        @include utils.vw-convert-desktop(margin-bottom, 50px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 15px);
          @include utils.vw-convert-mobile(margin-bottom, 30px);
        }

        .icon-container {
          background-color: colors.$color-blue;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 60%;
            height: 60%;
            color: colors.$color-white;
          }
        }
      }

      .card-title {
        font-weight: 600;
        color: colors.$color-gray;
        @include utils.vw-convert-desktop(font-size, 20px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 24px);
        }
      }

      span {
        font-weight: 400;
        color: colors.$color-gray;
        line-height: normal;
        @include utils.vw-convert-desktop(font-size, 20px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 22px);
        }
      }
    }
  }

  div.training {
    @include utils.vw-convert-desktop(margin-bottom, 100px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(margin-bottom, 100px);
    }
    .swiper {
      .swiper-slide {
        @include utils.mobile {
          width: 80%;
        }

        .box {
          background-color: colors.$color-gray-100;
          width: 100%;
          @include utils.vw-convert-desktop(padding, 20px);
          @include utils.vw-convert-desktop(border-radius, 40px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(border-radius, 40px);
            // @include utils.vw-convert-mobile(padding, 10px);
          }

          .img-container {
            width: 100%;
            overflow: hidden;
            aspect-ratio: 343/230;
            @include utils.vw-convert-desktop(border-radius, 40px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(border-radius, 40px);
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &-title {
            @include utils.vw-convert-desktop(font-size, 20px);
            @include utils.vw-convert-desktop(margin-top, 15px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 20px);
              @include utils.vw-convert-mobile(margin-top, 15px);
            }
          }

          &-description {
            @include utils.vw-convert-desktop(font-size, 20px);
            color: colors.$color-gray-700;
            font-family: "GeologicaThin";
            line-height: normal;

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 20px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include utils.vw-convert-desktop(padding, 20px 0);
            @include utils.vw-convert-desktop(gap, 10px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(padding, 20px 0);
              @include utils.vw-convert-mobile(gap, 10px);
            }
            a {
              text-decoration: none;
              @include utils.vw-convert-desktop(padding, 15px);
              @include utils.vw-convert-desktop(border-radius, 20px);
              display: flex;
              justify-content: center;
              align-items: center;

              @include utils.mobile {
                @include utils.vw-convert-mobile(padding, 15px);
                @include utils.vw-convert-mobile(border-radius, 20px);
              }
            }

            .more {
              background-color: colors.$color-gray-200;
              color: colors.$color-gray-cool;
            }

            .order {
              background-color: colors.$color-blue;
              color: colors.$color-white;
            }
          }
        }
      }
    }

    .training-body {
      position: relative;

      .prev-button {
        @include utils.vw-convert-desktop(width, 50px);
        border-radius: 50%;
        border: none;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-120%, -50%);
        background-color: colors.$color-gray-100;

        @include utils.mobile {
          display: none;
        }
      }
      .next-button {
        @include utils.vw-convert-desktop(width, 50px);
        border-radius: 50%;
        border: none;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(120%, -50%);
        background-color: colors.$color-gray-100;
        @include utils.mobile {
          display: none;
        }
      }
    }
  }

  .faq {
    @include utils.vw-convert-desktop(padding, 50px 0);
    display: flex;
    @include utils.vw-convert-desktop(gap, 100px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 50px 0);
      @include utils.vw-convert-mobile(gap, 50px);
      flex-direction: column;
    }

    &-image-container {
      @include utils.vw-convert-desktop(width, 500px);

      @include utils.mobile {
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
      }

      &-image {
        width: 100%;
        height: auto;
        @include utils.vw-convert-desktop(border-radius, 40px);
        object-fit: contain;

        @include utils.mobile {
          @include utils.vw-convert-mobile(border-radius, 40px);
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include utils.vw-convert-desktop(gap, 30px);
      // @include utils.vw-convert-desktop(padding-left, 100px);
      &- &-title {
        @include utils.vw-convert-desktop(font-size, 22px);
        font-family: "GeologicaRegular";
      }
    }
  }
}

.payment {
  // background-color: colors.$color-gray-200;
  background: linear-gradient(
    to bottom,
    colors.$color-deep-blue 0vh,
    colors.$color-deep-blue 40vh,
    colors.$color-gray-200 40vh,
    colors.$color-gray-200 100vh
  );

  min-height: 100vh;
  @include utils.vw-convert-desktop(padding-top, 50px);
  @include utils.vw-convert-desktop(padding-bottom, 50px);

  @include utils.mobile {
    @include utils.vw-convert-mobile(padding-top, 50px);
    @include utils.vw-convert-mobile(padding-bottom, 50px);

    background: linear-gradient(
      to bottom,
      colors.$color-deep-blue 0vh,
      colors.$color-deep-blue 30vh,
      colors.$color-gray-200 30vh,
      colors.$color-gray-200 100vh
    );
  }

  &-container {
    width: 50%;
    margin: auto;

    @include utils.mobile {
      width: 90%;
    }

    &-logo {
      display: flex;
      justify-content: space-between;

      .payment-card-header-logo {
        @include utils.vw-convert-desktop(height, 98px);
        width: auto;

        @include utils.mobile {
          @include utils.vw-convert-mobile(height, 60px);
          width: auto;
        }
      }

      .line-container {
        display: flex;
        @include utils.vw-convert-desktop(gap, 20px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(gap, 20px);
        }

        img {
          @include utils.vw-convert-desktop(height, 98px);
          width: auto;

          @include utils.mobile {
            @include utils.vw-convert-mobile(height, 60px);
          }
        }
      }
    }
  }

  &-logo-container {
    display: flex;
    align-items: center;
    @include utils.vw-convert-desktop(gap, 10px);
    @include utils.vw-convert-desktop(padding, 30px 0);
    border-bottom: 1px solid colors.$color-gray-300;

    @include utils.mobile {
      @include utils.vw-convert-mobile(gap, 10px);
      @include utils.vw-convert-mobile(padding, 30px 0);
    }

    .company-logo {
      @include utils.vw-convert-desktop(width, 40px);
      @include utils.vw-convert-desktop(height, 40px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(width, 40px);
        @include utils.vw-convert-mobile(height, 40px);
      }
    }
  }

  .price-container {
    background-color: colors.$color-deep-blue;
    @include utils.vw-convert-desktop(border-radius, 20px);
    @include utils.vw-convert-desktop(padding, 20px);
    @include utils.vw-convert-desktop(font-size, 15px);
    color: colors.$color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @include utils.mobile {
      @include utils.vw-convert-mobile(border-radius, 20px);
      @include utils.vw-convert-mobile(padding, 20px);
      @include utils.vw-convert-mobile(font-size, 18px);
    }
  }

  .succeedContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include utils.vw-convert-desktop(gap, 6px);
    justify-content: center;
    align-items: center;

    @include utils.mobile {
      @include utils.vw-convert-mobile(gap, 6px);
    }

    .icon-container {
      background-color: colors.$color-gray-200;
      border-radius: 50%;
      @include utils.vw-convert-desktop(width, 100px);
      @include utils.vw-convert-desktop(margin-bottom, 40px);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      @include utils.mobile {
        @include utils.vw-convert-mobile(width, 100px);
        @include utils.vw-convert-mobile(margin-bottom, 40px);
      }

      svg {
        width: 40%;
        height: 40%;
      }
    }

    p {
      text-align: center;
      color: colors.$color-gray-700;
    }

    .succeedTitle {
      @include utils.vw-convert-desktop(font-size, 18px);
      font-weight: 500;

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 18px);
      }
    }
    .succeedSubTitle {
      @include utils.vw-convert-desktop(font-size, 15px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 15px);
      }
    }
  }

  .selector {
    display: flex;
    flex-direction: column;
    @include utils.vw-convert-desktop(margin-top, 50px);
    @include utils.vw-convert-desktop(margin-bottom, 50px);

    &:nth-child(1) {
      margin-top: 0;
    }

    &.grid {
      display: grid;
      @include utils.vw-convert-desktop(gap, 30px);
      grid-template-columns: 1fr 2fr;

      @include utils.mobile {
        grid-template-columns: 1fr;
      }
    }

    @include utils.mobile {
      flex-direction: column;
      @include utils.vw-convert-mobile(margin-top, 50px);
      @include utils.vw-convert-mobile(margin-bottom, 50px);
    }

    .name {
      color: colors.$color-gray;
      @include utils.vw-convert-desktop(margin-bottom, 20px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(margin-bottom, 20px);
      }

      .title {
        @include utils.vw-convert-desktop(font-size, 16px);
        font-weight: 500;
        color: colors.$color-gray-700;

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 20px);
        }
      }

      .description {
        @include utils.vw-convert-desktop(font-size, 14px);
        color: colors.$color-gray-cool;

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 20px);
        }
      }
    }

    .option.grid {
      flex-grow: 1;
      display: grid;

      &.col-2 {
        grid-template-columns: 1fr 1fr;
        @include utils.mobile {
          grid-template-columns: 1fr;
        }
      }

      &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        @include utils.vw-convert-desktop(gap, 20px);

        @include utils.mobile {
          grid-template-columns: 1fr;
        }
      }

      &.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @include utils.mobile {
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    .option {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      @include utils.vw-convert-desktop(gap, 20px);

      .input-description {
        color: colors.$color-gray-cool;
        @include utils.vw-convert-desktop(font-size, 14px);
        font-style: normal;
        font-weight: 250;
        line-height: normal;

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 18px);
        }
      }

      .bank-app-container {
        display: none;

        @include utils.mobile {
          display: block;
        }
      }

      .bank-app-list {
        display: flex;
        flex-direction: column;
        @include utils.vw-convert-mobile(gap, 15px);
        @include utils.vw-convert-mobile(margin-top, 20px);

        .bank-item {
          display: flex;
          width: 100%;
          @include utils.vw-convert-mobile(gap, 10px);
          @include utils.vw-convert-mobile(padding, 10px);
          @include utils.vw-convert-mobile(border-radius, 15px);
          @include utils.vw-convert-mobile(font-size, 18px);
          border: 1px solid colors.$color-gray-300;
          align-items: center;
          img {
            @include utils.vw-convert-mobile(width, 30px);
            @include utils.vw-convert-mobile(height, 30px);
          }
        }
      }

      @include utils.mobile {
        @include utils.vw-convert-mobile(gap, 20px);
      }

      .bordered {
        .mantine-Accordion-root {
          overflow: hidden;
        }

        .mantine-Accordion-item {
          border: 1px solid colors.$color-gray-300 !important;
          @include utils.vw-convert-desktop(padding, 10px 15px);
          @include utils.vw-convert-desktop(margin-top, 20px);
          @include utils.vw-convert-desktop(border-radius, 20px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(padding, 10px 15px);
            @include utils.vw-convert-mobile(margin-top, 20px);
            @include utils.vw-convert-mobile(border-radius, 20px);
          }

          button {
            padding: 0;
            @include utils.vw-convert-desktop(font-size, 14px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 18px);
            }
          }

          .mantine-Accordion-content {
            padding: 0;
            @include utils.vw-convert-desktop(font-size, 16px);
            width: 100%;
            color: colors.$color-gray-700;

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 18px);
            }
          }

          .logo-icon {
            @include utils.vw-convert-desktop(width, 40px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(width, 40px);
            }
          }

          .mantine-Accordion-label {
            display: flex;
            align-items: center;
            @include utils.vw-convert-desktop(gap, 10px);

            @include utils.mobile {
              @include utils.vw-convert-mobile(gap, 10px);
            }
          }
        }

        .accordion-icon {
          @include utils.vw-convert-desktop(width, 25px);
          @include utils.vw-convert-desktop(height, 25px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(width, 25px);
            @include utils.vw-convert-mobile(height, 25px);
          }
        }

        .option-container {
          padding: 0;
        }
      }

      .mantine-Accordion-item {
        border: none !important;

        .mantine-Accordion-label {
          @include utils.vw-convert-desktop(font-size, 14px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(font-size, 18px);
          }
        }

        .mantine-Accordion-content {
          padding: 0;

          table.user-info-table {
            @include utils.vw-convert-desktop(font-size, 14px);
            width: 100%;
            border-collapse: collapse;

            @include utils.mobile {
              @include utils.vw-convert-mobile(font-size, 18px);
            }

            tr {
              &:last-child {
                td {
                  border: none;
                }
              }
            }

            td {
              border-bottom: 1px solid colors.$color-gray-300;
              @include utils.vw-convert-desktop(padding, 16px 0);
              &:nth-child(1) {
                width: 30%;
                color: colors.$color-gray-cool;
              }

              &:nth-child(2) {
                color: colors.$color-gray-700;
                text-align: left;
              }
            }
          }
        }
      }

      button,
      .mantine-RadioCard-card {
        @include utils.vw-convert-desktop(padding, 15px);
        @include utils.vw-convert-desktop(border-radius, 20px);
        background-color: colors.$color-gray-100;
        border: none;

        &[data-active="true"] {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.card-type {
          @include utils.vw-convert-desktop(border-radius, 30px);
          // background-color: yellow;
        }

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 15px);
          @include utils.vw-convert-mobile(border-radius, 15px);
        }

        p {
          @include utils.vw-convert-desktop(font-size, 14px);
          font-weight: 400;

          @include utils.mobile {
            @include utils.vw-convert-mobile(font-size, 18px);
          }
        }

        .indicator-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @include utils.vw-convert-desktop(margin-top, 14px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(margin-top, 14px);

            p {
              @include utils.vw-convert-mobile(font-size, 20px);
            }
          }
        }

        .mantine-RadioIndicator-indicator {
          @include utils.vw-convert-desktop(padding, 3px);
          @include utils.vw-convert-desktop(width, 20px);
          @include utils.vw-convert-desktop(height, 20px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(padding, 5px);
          }

          &[data-checked="true"] {
            background-color: colors.$color-white;
            border-color: colors.$color-deep-blue;

            svg {
              color: colors.$color-deep-blue;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      button > div,
      .mantine-RadioCard-card > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-container {
        background-color: colors.$color-gray-100;
        @include utils.vw-convert-desktop(padding, 20px 30px);
        @include utils.vw-convert-desktop(border-radius, 20px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 20px 30px);
          @include utils.vw-convert-mobile(border-radius, 20px);
        }

        &.bordered {
          border: 1px solid colors.$color-gray-300;
        }

        &.dropdown {
          @include utils.vw-convert-desktop(border-top-left-radius, 0);
          @include utils.vw-convert-desktop(border-top-right-radius, 0);
        }

        .info {
          display: grid;
          @include utils.vw-convert-desktop(gap, 30px);
          grid-template-columns: 1fr 1fr 1fr;
          width: 100%;

          @include utils.mobile {
            grid-template-columns: 1fr;

            img {
              @include utils.vw-convert-mobile(margin-bottom, 30px);
            }
          }
        }

        table.desktop {
          border-collapse: collapse;
          width: 100%;

          td {
            border-bottom: 1px solid colors.$color-gray-300;
            @include utils.vw-convert-desktop(padding, 10px 5px);
            @include utils.vw-convert-desktop(font-size, 14px);

            &:nth-child(1) {
              width: 40%;
              color: colors.$color-gray-cool;
              font-weight: 300;
            }

            &:nth-child(2) {
              color: colors.$color-gray-700;
              font-weight: 300;
              text-align: left;
            }
          }

          tr:last-child td {
            border: none !important;
          }

          @include utils.mobile {
            display: none;
          }
        }

        table.mobile {
          display: none;

          @include utils.mobile {
            display: table;
            border-collapse: collapse;
            width: 100%;

            tbody,
            tr {
              width: 100%;
            }

            td {
              border-bottom: 1px solid colors.$color-gray-300;
              @include utils.vw-convert-mobile(padding, 20px 5px);
              @include utils.vw-convert-mobile(font-size, 18px);

              &:nth-child(1) {
                width: 30%;
                color: colors.$color-gray-cool;
                font-weight: 300;
              }

              &:nth-child(2) {
                color: colors.$color-gray-700;
                font-weight: 300;
                text-align: left;
              }
            }

            tr:last-child td {
              border: none !important;
            }
          }
        }

        table.payment-info-table {
          width: 100%;
          td {
            &:nth-child(1) {
              width: 50%;
              @include utils.vw-convert-desktop(font-size, 14px);

              @include utils.mobile {
                @include utils.vw-convert-mobile(font-size, 18px);
              }

              p {
                display: none;

                @include utils.mobile {
                  @include utils.vw-convert-mobile(font-size, 18px);
                  color: colors.$color-gray-700;
                  font-weight: 600;
                  display: block;
                }
              }
            }

            &:nth-child(2) {
              color: colors.$color-black;
              text-align: right;

              p {
                @include utils.vw-convert-desktop(font-size, 14px);

                @include utils.mobile {
                  display: none;
                }
              }

              svg {
                display: none;

                @include utils.mobile {
                  display: inline;
                  @include utils.vw-convert-mobile(width, 30px);
                }
              }
            }
          }
        }
      }

      .mantine-TextInput-wrapper {
        &[data-error="true"] {
          .mantine-TextInput-input {
            border-color: colors.$color-red;

            &::placeholder {
              color: colors.$color-gray-cool;
            }
          }
        }
      }

      .mantine-TextInput-error {
        display: none !important;
      }

      .mantine-TextInput-label {
        color: colors.$color-gray-700;
        @include utils.vw-convert-desktop(font-size, 14px);
      }

      .mantine-TextInput-input {
        @include utils.vw-convert-desktop(border-radius, 16px);
        @include utils.vw-convert-desktop(padding, 21px 20px);
        @include utils.vw-convert-desktop(font-size, 14px);
        @include utils.vw-convert-desktop(margin-top, 10px);
        font-family: "Geologica", sans-serif;
        background-color: colors.$color-gray-100;
        border-color: colors.$color-gray-200;
        color: colors.$color-gray-700;

        &::placeholder {
          color: colors.$color-gray-cool;
        }

        @include utils.mobile {
          @include utils.vw-convert-mobile(border-radius, 18px);
          @include utils.vw-convert-mobile(padding, 25px 20px);
          @include utils.vw-convert-mobile(font-size, 18px);
          @include utils.vw-convert-mobile(margin-top, 10px);
        }
      }

      .qr-display {
        @include utils.vw-convert-desktop(padding, 50px);
        display: flex;
        justify-content: center !important;
        align-items: center;

        svg {
          @include utils.vw-convert-desktop(width, 180px);
          @include utils.vw-convert-desktop(height, 180px);

          @include utils.mobile {
            @include utils.vw-convert-mobile(width, 150px);
            @include utils.vw-convert-mobile(height, 150px);
          }
        }

        @include utils.mobile {
          @include utils.vw-convert-mobile(padding, 50px);
        }
      }
    }
  }
}

.payment-card {
  background-color: colors.$color-white;
  @include utils.vw-convert-desktop(border-radius, 50px);
  @include utils.vw-convert-desktop(padding, 40px);

  @include utils.mobile {
    background-color: colors.$color-white;
    @include utils.vw-convert-mobile(padding, 40px);
    @include utils.vw-convert-mobile(border-radius, 50px);
  }

  &-header {
    @include utils.vw-convert-desktop(padding-bottom, 20px);
    border-bottom: 1px solid colors.$color-gray-300;
    &-logo {
      width: 20%;
      height: auto;
    }

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding-bottom, 20px);
      display: none;
    }
  }

  .payment-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include utils.mobile {
      @include utils.vw-convert-mobile(padding-top, 20px);
      line-height: normal;
    }

    .title {
      @include utils.vw-convert-desktop(font-size, 15px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 20px);
      }
    }

    .description {
      @include utils.vw-convert-desktop(font-size, 12px);
      color: colors.$color-gray;

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 18px);
      }
    }
  }

  .payment-footer {
    display: flex;
    @include utils.vw-convert-desktop(padding, 30px 0);
    @include utils.vw-convert-desktop(gap, 10px);
    justify-content: flex-end;

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 30px);
      @include utils.vw-convert-mobile(gap, 10px);
    }

    button.continue {
      background-color: colors.$color-deep-blue;
      @include utils.vw-convert-desktop(padding, 15px 50px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      @include utils.vw-convert-desktop(font-size, 16px);
      border: none;
      color: colors.$color-white;
      cursor: pointer;

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 15px 50px);
        @include utils.vw-convert-mobile(border-radius, 15px);
        @include utils.vw-convert-desktop(font-size, 18px);
      }

      &.disabled {
        background-color: colors.$color-gray-100;
        color: colors.$color-gray-cool;
        pointer-events: none;
      }
    }

    button.back {
      background-color: colors.$color-gray-100;
      @include utils.vw-convert-desktop(padding, 15px 20px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-gray-cool;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;

      svg {
        @include utils.vw-convert-desktop(width, 20px);
        @include utils.vw-convert-desktop(height, 20px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(width, 30px);
          @include utils.vw-convert-mobile(height, 30px);
        }
      }

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 15px 20px);
        @include utils.vw-convert-mobile(border-radius, 15px);
      }
    }
  }

  .terms-condition {
    display: flex;
    justify-content: space-between;
    @include utils.vw-convert-desktop(font-size, 14px);
    p {
      display: flex;
      align-items: center;
    }

    .checkbox {
      display: flex;
      align-items: center;
      @include utils.vw-convert-desktop(gap, 10px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(gap, 10px);
      }
    }

    span {
      color: colors.$color-deep-blue;
      font-family: "GeologicaRegular";
      cursor: pointer;
      @include utils.vw-convert-desktop(margin-left, 5px);

      @include utils.mobile {
        @include utils.vw-convert-mobile(margin-left, 5px);
      }
    }

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 14px);
    }
  }
}

.stepper-card {
  background-color: colors.$color-white;
  // @include utils.vw-convert-desktop(padding, 40px);
  @include utils.vw-convert-desktop(border-radius, 50px);
  @include utils.vw-convert-desktop(margin-top, 30px);
  overflow: hidden;

  @include utils.mobile {
    background-color: colors.$color-white;
    // @include utils.vw-convert-mobile(padding, 40px);
    @include utils.vw-convert-mobile(border-radius, 50px);
    @include utils.vw-convert-mobile(margin-top, 30px);
  }
}

.divider {
  background-color: colors.$color-gray-200;
  width: 100%;
  height: 1px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: #00000030;

  &-content {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;

    @include utils.mobile {
      width: 90%;
    }
  }

  &-body {
    flex-grow: 1;
    overflow-y: auto;

    &-title {
      font-family: "GeologicaRegular";
      @include utils.vw-convert-desktop(font-size, 18px);
      color: colors.$color-gray-700;

      @include utils.mobile {
        @include utils.vw-convert-mobile(font-size, 18px);
      }
    }

    .contract-section {
      &-title {
        @include utils.vw-convert-desktop(font-size, 16px);
        @include utils.vw-convert-desktop(margin-top, 20px);
        color: colors.$color-gray-700;
        font-family: "GeologicaRegular";

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 16px);
          @include utils.vw-convert-mobile(margin-top, 20px);
        }
      }

      &-content {
        @include utils.vw-convert-desktop(font-size, 16px);
        color: colors.$color-gray-700;
        font-family: "GeologicaLight";

        @include utils.mobile {
          @include utils.vw-convert-mobile(font-size, 16px);
        }
      }
    }
  }

  &-footer {
    display: flex;
    @include utils.vw-convert-desktop(padding, 30px 0);
    @include utils.vw-convert-desktop(gap, 10px);
    justify-content: flex-end;

    @include utils.mobile {
      @include utils.vw-convert-mobile(padding, 30px);
      @include utils.vw-convert-mobile(gap, 10px);
    }

    button.continue {
      background-color: colors.$color-deep-blue;
      @include utils.vw-convert-desktop(padding, 15px 50px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-white;
      cursor: pointer;

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 15px 50px);
        @include utils.vw-convert-mobile(border-radius, 15px);
      }
    }

    button.back {
      background-color: colors.$color-gray-100;
      @include utils.vw-convert-desktop(padding, 15px 20px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-gray-cool;
      display: flex;
      cursor: pointer;

      @include utils.mobile {
        @include utils.vw-convert-mobile(padding, 15px 20px);
        @include utils.vw-convert-mobile(border-radius, 15px);
      }
    }
  }
}

.schedule-wrapper {
  width: 100%;
  // border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.schedule-header {
  background: colors.$color-deep-blue;
  color: white;
  @include utils.vw-convert-desktop(padding, 10px 16px);
  @include utils.vw-convert-desktop(font-size, 14px);
  font-weight: 500;
  text-align: center;

  &.none {
    background-color: transparent;
    border-top: 1px solid colors.$color-gray-300;
    border-left: 1px solid colors.$color-gray-300;
    border-right: 1px solid colors.$color-gray-300;
    color: colors.$color-gray-cool;
    font-weight: 200;
    &::before {
      content: "---- ----";
    }
  }

  @include utils.mobile {
    @include utils.vw-convert-mobile(font-size, 18px);
    @include utils.vw-convert-mobile(padding, 15px 0);
  }
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  .schedule-checkbox-container {
    @include utils.vw-convert-desktop(width, 50px);
  }

  @include utils.mobile {
    display: none;
  }

  &-mobile {
    display: none;

    @include utils.mobile {
      display: block;
      &-container {
        display: flex;
        @include utils.vw-convert-mobile(gap, 30px);
        @include utils.vw-convert-mobile(padding, 10px 20px);
        align-items: center;

        &.bordered {
          border: 1px solid colors.$color-gray-300;
        }

        &.selected {
          background-color: colors.$color-gray-100;
        }

        p {
          span {
            @include utils.vw-convert-mobile(font-size, 20px);

            &.schedule {
              color: colors.$color-gray-cool;
              @include utils.vw-convert-mobile(margin-left, 20px);
            }
          }
        }
      }
    }
  }
}

.schedule-table th,
.schedule-table td {
  border: 1px solid colors.$color-gray-300;
  @include utils.vw-convert-desktop(padding, 10px 0);
  text-align: center;
  @include utils.vw-convert-desktop(font-size, 14px);
}

.schedule-table th {
  font-weight: 600;
}

.schedule-table td:first-child {
  @include utils.vw-convert-desktop(width, 40px);
}
.schedule-row {
  &.selected {
    background-color: colors.$color-gray-100;
  }

  td {
    .mantine-Checkbox-root {
      display: flex;
      justify-content: center;
    }

    padding: 0;
    .time-container {
      display: "flex";
      height: 100%;
      @include utils.vw-convert-desktop(padding, 15px 0);
      justify-content: center;
      position: relative;
      @include utils.vw-convert-desktop(min-height, 50px);

      .head-bar {
        position: absolute;
        top: 0;
        @include utils.vw-convert-desktop(height, 5px);
        width: 100%;
        background-color: colors.$color-deep-blue;
      }
    }

    // @include utils.vw-convert-desktop(padding, 15px 0);

    // @include utils.mobile {
    //   @include utils.vw-convert-mobile(padding, 15px 0);
    // }
  }
}

.info-row {
  &.selected {
    background-color: colors.$color-gray-100;
  }

  td {
    text-align: left;
    @include utils.vw-convert-desktop(font-size, 12px);
    color: colors.$color-gray-cool;
    text-align: center;

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 12px);
    }

    span {
      color: colors.$color-black;
    }
  }
}

.mantine-Stepper-steps {
  align-items: flex-start !important;
  background-color: colors.$color-gray-100;
  @include utils.vw-convert-desktop(padding, 40px 60px);

  @include utils.mobile {
    @include utils.vw-convert-mobile(padding, 60px);
  }

  button.mantine-Stepper-step {
    flex-direction: column !important;
    width: 5% !important;

    @include utils.mobile {
      display: flex;
      width: 10% !important;
    }

    .mantine-Stepper-stepWrapper {
      width: 100%;
      aspect-ratio: 1;
    }

    .mantine-Stepper-stepBody {
      margin: 0;
    }

    .mantine-Stepper-stepIcon {
      background-color: colors.$color-gray-300;
      border-color: colors.$color-gray-300;

      &[data-progress="true"],
      &[data-completed="true"] {
        background-color: colors.$color-deep-blue;
        color: colors.$color-white;
        border-color: colors.$color-deep-blue;
      }

      svg {
        @include utils.vw-convert-desktop(width, 14px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(width, 20px);
        }
      }
    }
  }

  div[data-active="true"] {
    background-color: colors.$color-deep-blue;
  }

  .mantine-Stepper-stepIcon {
    width: 100%;
    height: 100%;

    @include utils.vw-convert-desktop(font-size, 12px);

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 20px);
    }
  }

  .mantine-Stepper-stepDescription {
    @include utils.vw-convert-desktop(font-size, 14px);
    @include utils.vw-convert-desktop(line-height, 18px);
    color: colors.$color-gray-700;
    text-align: center;

    @include utils.mobile {
      @include utils.vw-convert-mobile(font-size, 20px);
      @include utils.vw-convert-mobile(line-height, 18px);
    }
  }

  .mantine-Stepper-separator {
    @include utils.vw-convert-desktop(height, 5px);
    margin-inline: unset !important;
    background-color: colors.$color-gray-300;
    margin-top: 2%;

    @include utils.mobile {
      @include utils.vw-convert-mobile(height, 5px);
      margin-top: 6%;
    }
  }
}

.mantine-Stepper-root[data-completed="true"] {
  .mantine-Stepper-steps {
    display: none;
  }
}

.mantine-Checkbox-root {
  display: flex;
  justify-content: center;
  @include utils.vw-convert-desktop(width, 20px);
  @include utils.vw-convert-desktop(height, 20px);

  .mantine-Checkbox-body {
    width: 100%;
    height: 100%;

    .mantine-Checkbox-inner {
      width: 100%;
      height: 100%;

      .mantine-Checkbox-input {
        width: 100%;
        height: 100%;
        @include utils.vw-convert-desktop(border-radius, 7px);

        @include utils.mobile {
          @include utils.vw-convert-mobile(border-radius, 7px);
        }
      }
    }
  }

  @include utils.mobile {
    @include utils.vw-convert-mobile(width, 30px);
    @include utils.vw-convert-mobile(height, 30px);
  }
}

.mo-br {
  display: none;

  @include utils.mobile {
    display: block;
  }
}
