@use "./utils";
@use "./colors";

.container {
  width: 70%;
  margin: auto;
}

.home {
  .background {
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    @include utils.vw-convert-desktop(font-size, 25px);
    @include utils.vw-convert-desktop(margin, 30px 0);
    font-weight: 600;
    color: colors.$color-brand;
  }

  .chances {
    display: grid;
    @include utils.vw-convert-desktop(gap, 15px);
    @include utils.vw-convert-desktop(margin-bottom, 100px);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .card {
      background-color: colors.$color-brand-blurred;
      display: flex;
      flex-direction: column;
      @include utils.vw-convert-desktop(padding, 25px);
      @include utils.vw-convert-desktop(gap, 5px);
      @include utils.vw-convert-desktop(border-radius, 20px);

      .icon {
        color: colors.$color-brand;
        @include utils.vw-convert-desktop(width, 30px);
        @include utils.vw-convert-desktop(height, 30px);
      }

      .card-title {
        font-weight: 600;
        color: colors.$color-gray;
        @include utils.vw-convert-desktop(font-size, 18px);
      }

      span {
        font-weight: 400;
        color: colors.$color-gray;
        line-height: 100%;
      }
    }
  }
}

.payment {
  background-color: colors.$color-gray-200;
  min-height: 100vh;
  @include utils.vw-convert-desktop(padding-top, 50px);
  @include utils.vw-convert-desktop(padding-bottom, 50px);

  &-container {
    width: 40%;
    margin: auto;
  }

  .selector {
    display: flex;
    @include utils.vw-convert-desktop(margin-top, 50px);
    @include utils.vw-convert-desktop(margin-bottom, 50px);

    .name {
      color: colors.$color-gray;
      width: 35%;
    }

    .option.grid {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .option {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      @include utils.vw-convert-desktop(gap, 10px);

      button {
        @include utils.vw-convert-desktop(padding, 15px);
        @include utils.vw-convert-desktop(border-radius, 15px);
        background-color: colors.$color-gray-100;

        p {
          @include utils.vw-convert-desktop(font-size, 14px);
          font-weight: 400;
        }
      }

      button > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-container {
        background-color: colors.$color-gray-200;
        @include utils.vw-convert-desktop(padding, 20px 30px);
        @include utils.vw-convert-desktop(border-radius, 20px);

        table {
          border-collapse: collapse;
          width: 100%;

          td {
            border-bottom: 1px solid colors.$color-gray-400;
            @include utils.vw-convert-desktop(padding, 10px 5px);

            &:nth-child(1) {
              width: 30%;
              color: colors.$color-gray-cool;
              font-weight: 300;
            }

            &:nth-child(2) {
              color: colors.$color-black;
              font-weight: 300;
              text-align: left;
            }
          }

          tr:last-child td {
            border: none !important;
          }
        }
      }
    }
  }
}

.payment-card {
  background-color: colors.$color-white;
  @include utils.vw-convert-desktop(padding, 30px);
  @include utils.vw-convert-desktop(border-radius, 50px);

  &-header {
    @include utils.vw-convert-desktop(padding-bottom, 20px);
    border-bottom: 1px solid colors.$color-gray-300;
    &-logo {
      width: 20%;
      height: auto;
    }
  }

  .payment-body {
    @include utils.vw-convert-desktop(padding-top, 20px);
    .title {
      @include utils.vw-convert-desktop(font-size, 15px);
    }

    .description {
      @include utils.vw-convert-desktop(font-size, 12px);
      color: colors.$color-gray;
    }
  }

  .payment-footer {
    display: flex;
    @include utils.vw-convert-desktop(padding, 30px);
    @include utils.vw-convert-desktop(gap, 30px);
    justify-content: flex-end;

    button.continue {
      background-color: colors.$color-blue;
      @include utils.vw-convert-desktop(padding, 15px 50px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-white;
      cursor: pointer;
    }

    button.back {
      background-color: colors.$color-gray-cool;
      @include utils.vw-convert-desktop(padding, 15px 50px);
      @include utils.vw-convert-desktop(border-radius, 15px);
      border: none;
      color: colors.$color-white;
      display: flex;
      cursor: pointer;
    }
  }
}

.divider {
  background-color: colors.$color-gray-200;
  width: 100%;
  height: 1px;
}
