.payment {
  background-color: #ecebef;
  min-height: 100vh;
  min-width: "100%";
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 0 30px;
  }
}

.payment-card {
  @include vw-convert-desktop(width, 400px);
  @include vw-convert-desktop(padding, 10px);
  @include vw-convert-desktop(border-radius, 35px);
  background-color: #ffffff;

  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  @include mobile {
    width: 100%;
    @include vw-convert-mobile(padding, 15px);
    @include vw-convert-mobile(border-radius, 35px);
  }

  .qr-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    background: linear-gradient(135deg, #f3d8ff 0%, #d8eaff 100%);
    @include vw-convert-desktop(border-radius, 25px);
    @include vw-convert-desktop(padding, 20px);
    @include vw-convert-desktop(height, 120px);
    position: relative;

    @include mobile {
      @include vw-convert-mobile(border-radius, 25px);
      @include vw-convert-mobile(padding, 20px);
      @include vw-convert-mobile(height, 180px);
    }

    .tag {
      position: absolute;
      left: 10px;
      top: 10px;
      background-color: #00000080;
      @include vw-convert-desktop(border-radius, 20px);
      @include vw-convert-desktop(font-size, 13px);
      padding: 5px 15px;
      color: #ffffff;
      font-weight: 700;

      @include mobile {
        @include vw-convert-mobile(border-radius, 20px);
        @include vw-convert-mobile(font-size, 13px);
      }
    }

    .price {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-weight: 500;
      @include vw-convert-desktop(font-size, 35px);

      @include mobile {
        @include vw-convert-mobile(font-size, 40px);
      }

      span {
        @include vw-convert-desktop(font-size, 16px);
        font-weight: 500;
        color: #878787;

        @include mobile {
          @include vw-convert-mobile(font-size, 20px);
        }
      }
    }
  }

  .payment-card-body {
    @include vw-convert-desktop(font-size, 15px);

    @include mobile {
      @include vw-convert-mobile(font-size, 25px);
    }

    .form {
      display: flex;
      flex-direction: column;
      @include vw-convert-desktop(gap, 10px);
      @include vw-convert-desktop(margin-top, 30px);

      @include mobile {
        @include vw-convert-mobile(gap, 10px);
        @include vw-convert-mobile(margin-top, 30px);
      }

      .input-container {
        display: flex;
        align-items: center;
        border: 0.5px solid #e5e7eb;
        @include vw-convert-desktop(border-radius, 30px);
        @include vw-convert-desktop(padding, 0 10px);
        @include vw-convert-desktop(padding-top, 5px);
        background: #fff;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;
        width: "100%";

        @include mobile {
          @include vw-convert-mobile(border-radius, 50px);
          @include vw-convert-mobile(padding, 20px 20px);
          //   @include vw-convert-mobile(padding-top, 10px);
        }

        &:focus-within {
          border-color: #a78bfa;
        }

        .input-wrapper {
          display: flex;
          flex-direction: column;
          flex: 1;

          label {
            color: #9ca3af;
            @include vw-convert-desktop(font-size, 12px);
            @include vw-convert-desktop(margin-left, 15px);

            @include mobile {
              @include vw-convert-mobile(font-size, 18px);
              @include vw-convert-mobile(margin-left, 12px);
            }
          }

          input {
            border: none;
            outline: none;
            @include vw-convert-desktop(font-size, 15px);
            font-weight: 600;
            color: #111827;
            background: transparent;

            @include mobile {
              @include vw-convert-mobile(font-size, 20px);
            }
          }
        }
      }

      input {
        @include vw-convert-desktop(padding, 12px 15px);
        @include vw-convert-desktop(border-radius, 10px);
        border-width: 0.1px;
        border-color: #d9d9d9;
        outline: #d9d9d9;

        &:focus {
          border-width: 0.1px;
          outline: none;
        }

        @include mobile {
          @include vw-convert-mobile(padding, 10px);
          border-width: 0.1px;
        }
      }
    }
  }

  .payment-button {
    background-color: #000000;
    @include vw-convert-desktop(border-radius, 30px);
    width: 100%;
    @include vw-convert-desktop(padding, 20px);
    @include vw-convert-desktop(margin-top, 20px);
    @include vw-convert-desktop(margin-bottom, 5px);
    color: #ffffff;
    border: none;
    flex-grow: 1;
    &:focus {
      border: none;
      outline: none;
    }

    &.disabled {
      background-color: #6e6e6e;
      width: 45%;
    }

    @include mobile {
      @include vw-convert-mobile(border-radius, 35px);
      width: 100%;
      @include vw-convert-mobile(padding, 25px);
      @include vw-convert-mobile(margin-top, 20px);
      @include vw-convert-mobile(margin-bottom, 5px);
      @include vw-convert-mobile(font-size, 25px);
    }
  }
}
